<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师招聘网,2016年教师招聘,教师招聘网是中国教师招聘致知名品牌网站</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keyword" content="教师招聘网,2016年教师招聘信息,万行教师人才网">
    <meta name="description"
          content="万行教师人才网手机版(m.job910.com)是中国教师招聘网领先品牌万行旗下手机找教师工作网,实时更新2016教师招聘信息和教师简历,招聘教师敬请关注教师招聘网，万行教师招聘网拥有超过110万份专业教师简历和近10万动态教师招聘信息">
    <script type="text/javascript" src="../../../globle/js/vue.min.js"></script>
    <script type="text/javascript" src="../../../globle/js/swiper.min.js"></script>
    <script type="text/javascript" src="../../../globle/js/zepto.min.js"></script>
    <link href="../../src/css/index.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../../src/css/a.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../../../globle/css/swiper.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../../../globle/css/footer.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../../../globle/css/header.css" rel="stylesheet" type="text/css" media="all"/>
    <script>
        !function(){function e(){var e=document.documentElement.clientWidth;e>750&&(e=750),document.documentElement.style.setProperty("font-size",e/7.5+"px","important")}var t=null;window.addEventListener("resize",function(){clearTimeout(t),t=setTimeout(e,300)},!1),e()}();
    </script>
</head>
<body class="l-content">
<div id="app" >
    <div class="header">
        <span class="callback iconfont">&#xe64c;</span>
        <span class="title">个人登录</span>
        <div class="goto"></div>
    </div>
    <div class="content login">
        <div class="login-method" v-on:click="switchLoginAction">
            <div class={{swicthLogin?'action':''}}>普通登录</div>
            <div class={{swicthLogin?'':'action'}}>手机登录</div>
        </div>
        <div class="login-detail">
            <div class="login-name" v-if="swicthLogin">
                <span class="iconfont">&#xe607;</span>
                <input type="text" placeholder="手机/邮箱/用户名">
            </div>
            <div class="login-name hidden" v-else>
                <span class="iconfont">&#xe607;</span>
                <input type="text" placeholder="手机号码">
            </div>
            <div class="login-password"  v-if="swicthLogin">
                <span class="iconfont">&#xe653;</span>
                <input type="text" placeholder="密码（6-16位数字、字母）">
                <span class="iconfont">&#xe63a;</span>
            </div>
            <div class="login-sms hidden" v-else>
                <span class="iconfont">&#xe60b;</span>
                <input type="text" placeholder="短信验证码">
                <span class="sms" v-on:click="sendSMS">{{(sendSMSTime==60)?'获取短信验证码':sendSMSTime+'秒'}}</span>
            </div>

            <div class="login-action">
                <b><span class="iconfont">&#xe600;</span> 自动登录</b>
                <b>忘记密码</b>
            </div>
            <div class="login-btn">立即登录</div>
        </div>
        <div class="login-logon">
            没有账号！立即注册
        </div>
        <div class="other-login">
            <div class="text"><span>第三方登录</span></div>
            <img src="../../../src/img/iconfont-qq.png" width="">
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="../../src/js/loginAndlogon.js"></script>
</html>